* {
	margin: 0;
	padding: 0;
}

/* universal styling */
h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.sub-h1 {
	color: white;
	text-align: center;
	padding: 0 30%;
	font-size: 12px;
}


/* navbar */
nav {
	background-color: #a6d2db;
	padding: 15px 0px;
}

.brand {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #374a4f;
}

.nav-button {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #374a4f;
}


/* header */
header {
	background-color: #a6d2db;
	height: 400px;
	position: relative;
}

header h1 {
	position: absolute;
    top: 50%;
    transform: translate(0,-50%);	
}

header img {
	width: 50%;
	position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0,-50%);
}


/* services */
.services {
	padding: 50px 10%;
}

.services-item {
	text-align: center;
}

.services-item h2 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
	margin-bottom: 0;
	color: #374a4f;
}

.services-item p {
	padding: 10px 5px;
	margin-bottom: 0;
	color: #374a4f;
}

/* recent work */
.recent-work {
	background-color: #9ad3a6;
	height: 250px;
	text-align: center;
}

.recent-work h1 {
	padding-top: 40px;
}